<%- include('../components/header.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
</head>
<%- include('../components/nav.ejs') %>

<div class="onepage container formlogin">
    <h1><%= pageTitle %></h1>
    <h2></h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="text-danger"></div>
            <form method="post" action="/auth/reset-password">
                <div class="form-floating">
                    <label class="form-label"></label>
                    <input class="form-control" aria-required="true" />
                </div>
                
                <input type="hidden" />
                <button type="submit" class="learn-more">Reset</button>
            </form>
        </div>
    </div>
</div>

<%- include('../components/footer.ejs') %>