
<div class="admin-nav">
    <a href="/admin/posts" class="<%= path==='/posts' ? 'active' :'' %>">
      Posts
    </a>
    <% if(level>2) {%>
    <a href="/admin/users" class="<%= path==='/users' ? 'active' :'' %>">
      Users
    </a>
    <a href="/admin/categories" class="<%= path==='/categories' ? 'active' :'' %>">
      Categories
    </a>
    <% } %>
    <a href="/admin/comments" class="<%= path==='/comments' ? 'active' :'' %>">
      Comments
    </a>
</div>