
<div class="admin-nav">
    <a href="/admin/manage/posts" class="<%= path==='/manage/posts' ? 'active' :'' %>">
      Posts
    </a>
    <% if(level>2) {%>
    <a href="/admin/manage/users" class="<%= path==='/manage/users' ? 'active' :'' %>">
      Users
    </a>
    <a href="/admin/manage/categories" class="<%= path==='/manage/categories' ? 'active' :'' %>">
      Categories
    </a>
    <% } %>
    <a href="/admin/manage/comments" class="<%= path==='/manage/comments' ? 'active' :'' %>">
      Comments
    </a>
</div>