<!-- Footer -->
<footer class="footer section">

    <div class="footer-container container d-grid">
        
        <div class="company-data">
            <a asp-action="Index">
                <h2 class="logo">NewsFlash</h2>
            </a>
            <p class="company-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, iure. Harum, animi dolores, nam, ad magni expedita.</p>
            
            <ul class="list social-media">
                <li class="list-item">
                    <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link"><i class="ri-youtube-line"></i></a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link"><i class="ri-linkedin-box-line"></i></a>
                </li>
            </ul>

            <span class="copyright-notice">&copy; <span id="year"></span> <span id="synthwave"> Synthwave</span>. All rights reserved.</span>
        </div>

        <div>
            <h6 class="title footer-title">Categories</h6>
            
            <ul class="footer-list list">
                <li class="list-item">
                    <a href="#" class="list-link">Travel</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Food</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Technology</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Health</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Nature</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Fitness</a>
                </li>
            </ul>

        </div>

        <div>
            <h6 class="title footer-title">Useful links</h6>
            
            <ul class="footer-list list">
                <li class="list-item">
                    <a href="#" class="list-link">Home</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Elements</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Tags</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Authors</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Membership</a>
                </li>
            </ul>

        </div>

        <div>
            <h6 class="title footer-title">Company</h6>
            
            <ul class="footer-list list">
                <li class="list-item">
                    <a href="#" class="list-link">Contact us</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">F.A.Q</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Careers</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Authors</a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-link">Memberships</a>
                </li>
            </ul>

        </div>

    </div>
    
</footer>

    <!-- Swiper.js -->
    <script src="/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="/js/main.js"></script>
    <!-- Date -->
    <script>document.getElementById('year').innerHTML= new Date().getFullYear()</script>
</body>
</html>
