<body style="background-image: url(/images/pat.svg);">
    
<!-- Navigation bar -->
<header class="header" id="header">
  <nav class="navbar container">
    <a href="/">
      <h2 class="logo">NewsFlash</h2>
    </a>

    <div class="menu" id="menu">
      <ul class="list">
        <li class="list-item screen-lg-hidden">
          <% if(!isAuthenticated) { %>
            <a href="/auth/login" class="list-link" > Login </a>
          <% } else { %>
            <a href="/auth/manage" class="list-link"><%= name %></a>
          <% } %>
        </li>
        <% if(isAuthenticated && level>=2) {%>
          <li class="list-item">
            <a href="/admin/posts" class="list-link">Manage</a>
          </li>
        <% } %>
        <li class="list-item">
          <a href="/categories" class="list-link">Categories</a>
        </li>
        <li class="list-item">
          <a href="/archive" class="list-link">Archive</a>
        </li>
        <li class="list-item">
          <a href="/about" class="list-link">About</a>
        </li>
        <li class="list-item">
          <a href="/contact" class="list-link">Contact</a>
        </li>
        <% if(isAuthenticated) { %>
          <li class="list-item screen-lg-hidden">
            <form action="/auth/logout" method="post" class="list-link">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit">Logout</button>
            </form>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="list list-right">
      <button class="btn place-items-center" id="theme-toggle-btn">
        <i class="ri-sun-line sun-icon"></i>
        <i class="ri-moon-line moon-icon"></i>
      </button>

      <button class="btn place-items-center" id="search-icon">
        <i class="ri-search-line"></i>
      </button>

      <button
        class="btn place-items-center screen-lg-hidden menu-toggle-icon"
        id="menu-toggle-icon">
        
        <i class="ri-menu-3-line open-menu-icon"></i>
        <i class="ri-close-line close-menu-icon"></i>
      </button>

      <!-- Authenticate -->
      <% if(!isAuthenticated) { %>
        <a href="/auth/login" class="list-link screen-sm-hidden">Login</a>
        <a href="/auth/register"
          class="btn sign-up-btn fancy-border screen-sm-hidden"> <span>Register</span>
        </a>
      <% } else { %>
        <a href="/auth/manage" class="list-link screen-sm-hidden"><%= name %></a>
        <form action="/auth/logout" method="post" class="list-link screen-sm-hidden">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" style="cursor: pointer;">Logout</button>
        </form>
      <% } %>
    </div>
  </nav>
</header>

<!-- Search box -->
<div class="search-form-container container" id="search-form-container">
  <div class="form-container-inner">
    <div action="/search" class="form">
      <input
        class="form-input"
        id="form-input"
        type="text"
        name="keyword"
        placeholder="What are you looking for?"
        required
        autofocus
        oninput="search()"
      />
      <a class="btn form-btn" id="form-btn" href="" role="button">
        <i class="ri-search-line"></i>
      </a>
    </div>
    <span class="form-note">Or press ESC to close.</span>
  </div>
  <button class="btn form-close-btn place-items-center" id="form-close-btn">
    <i class="ri-close-line"></i>
  </button>

  <script>
  function search() {
    let keywords = document.getElementById('form-input').value;
    if (keywords) {
      document.getElementById('form-btn').href = '/search?search=' + keywords;
    }
  }
  </script>
</div>
