
<div class="toast section-header-offset active" >
  <div class="toast-content">
    <i class="check <%= errorType %>">!</i>

    <div class="message">
      <span class="text text-1"><%= errorHeader %></span>
      <span class="text text-2"><%= error %></span>
    </div>
  </div>
  <i class="close">&times;</i>

  <div class="progress <%= errorType %> active"></div>
</div>
