:root {
  /*CUSTOMIZE ROOT*/
  --background-color-inner: #212121;
  --border-color-inner: rgba(255, 255, 255, 0.5);
  --input-color: #fff;
  --bg-right-background-color: #00d4ff;
  --dots-color: rgb(66, 255, 66);
  --remember-checked-color: #ffd700;
  --btn-gradient-color: linear-gradient(
    115deg,
    #3ea357,
    #daba3d,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  /*background-color: #212121;
  color: #fff;*/
  font-family: var(--font-family);
  letter-spacing: 0.05em;
}

h1 {
  font-size: 23px;
  color: var(--light-color);
}

.formlogin {
  width: 300px;
  padding: 64px 15px 15px;
  margin: 0 auto;
  display: block;
}
.formlogin .control {
  margin: 0 0 24px;
}
.formlogin .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: var(--input-color);
  font-family: var(--font-family);
  letter-spacing: 0.05em;
  font-size: 16px;
  opacity: 0.8;
}
.formlogin .control input:hover,
.formlogin .control input:focus {
  outline: none;
  border: 0;
}
.formlogin .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: var(--input-color);
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 16px;
}

@media (min-width: 1500px) {
  .formlogin {
    height: 516px;
    margin-top: 90px;
  }
}

@media (max-width: 1490px) {
  .formlogin {
    height: 470px;
    margin-top: 50px;
  }
}

.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: var(--btn-gradient-color);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: var(--btn-gradient-color);
}
.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: var(--bg-right-background-color);
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
  bottom: 4px;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: var(--background-color-inner);
  position: absolute;
  left: 2.5px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner,
.block-cube.block-input input:focus ~ .bg-top .bg-inner,
.block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  /*FLASH COLOR FILL FOCUS - NOT IMPORTANT*/
  background: var(--border-color-inner);
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  /*BORDER COLOR AND COLOR FILL FOCUS*/
  background: var(--border-color-inner);
  transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg,
.block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  /*HOVER BORDER COLOR*/
  background: var(--border-color-inner);
  opacity: 0.8;
}
.block-cube.block-cube-hover:focus .bg .bg-inner,
.block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

#remember {
  width: auto;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 12px;
}

#dots {
  color: var(--dots-color);
  font-size: larger;
}
.remember-label {
  z-index: 2;
  position: relative;
  font-size: 100%;
  color: var(--input-color);
  opacity: 0.8;
  font-family: var(--font-family);
}
input[type='checkbox'][id='remember']:checked
  ~ div.modify-box
  .bg-top
  .bg-inner {
  background-color: var(--remember-checked-color);
}
input[type='checkbox'][id='remember']:checked
  ~ div.modify-box
  .bg-right
  .bg-inner {
  background-color: var(--remember-checked-color);
}

@media screen and (min-width: 780px) {
  .onepage {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .onepage {
    width: 80%;
  }
}

.onepage * {
  margin-bottom: 15px;
}

.button-54 {
  float: right;
  margin: 25px 10px 0 0;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--light-color);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
