:root {
    /*CUSTOMIZE ROOT*/
    --background-color-inner: #212121;
    --border-color-inner: rgba(255,255,255,.5);
    --input-color: #fff;
    --bg-right-background-color: #00d4ff;
    --dots-color: rgb(66, 255, 66);
    --remember-checked-color: #FFD700;
    --btn-gradient-color: linear-gradient( 115deg, #3ea357, #daba3d, #a767e5, #12bcfe, #44ce7b );
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  /*background-color: #212121;
  color: #fff;*/
  font-family: var(--font-family);
  letter-spacing: 0.05em;
}

h1 {
  font-size: 23px;
  color: var(--light-color);
}

.formlogin {
  width: 300px;
  padding: 64px 15px 15px;
  margin: 0 auto;
  display:block;
}
.formlogin .control {
  margin: 0 0 24px;
}
.formlogin .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: var(--input-color);
  font-family: var(--font-family);
  letter-spacing: 0.05em;
  font-size: 16px;
  opacity:0.8;
}
.formlogin .control input:hover, .formlogin .control input:focus {
  outline: none;
  border: 0;
}
.formlogin .btn {
  width: 100%;
  display: block;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: var(--input-color);
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 16px;
}

@media (min-width: 1500px) {
    .formlogin {
        height: 516px;
        margin-top: 90px;
    }
}

@media (max-width:1490px) {
    .formlogin {
        height: 470px;
        margin-top: 50px;
    }
}

.block-cube {
  position: relative;
}
.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: var(--btn-gradient-color);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}
.block-cube .bg-top .bg-inner {
  bottom: 0;
}
.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: var(--btn-gradient-color);
}
.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: var(--bg-right-background-color);
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}
.block-cube .bg-right .bg-inner {
  left: 0;
  bottom: 4px;
}
.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube .bg-inner {
  background: var(--background-color-inner);
  position: absolute;
  left: 2.5px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.block-cube .text {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input {
  position: relative;
  z-index: 2;
}
.block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
  top: 100%;
  /*FLASH COLOR FILL FOCUS - NOT IMPORTANT*/
  background: var(--border-color-inner);
}
.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  /*BORDER COLOR AND COLOR FILL FOCUS*/
  background: var(--border-color-inner);
  transition: background 0.2s ease-in-out;
}
.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}
.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  /*HOVER BORDER COLOR*/
  background: var(--border-color-inner);  
  opacity: 0.8;
}
.block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

#remember{
  width: auto;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 12px;
}

#dots{
  color: var(--dots-color);
  font-size: larger;
}
.remember-label{
  z-index: 2;
  position: relative;
  font-size: 100%;
  color: var(--input-color);
  opacity: 0.8;
  font-family: var(--font-family);
}
input[type="checkbox"][id="remember"]:checked ~ div.modify-box .bg-top .bg-inner {
  background-color: var(--remember-checked-color);
}
input[type="checkbox"][id="remember"]:checked ~ div.modify-box .bg-right .bg-inner {
  background-color: var(--remember-checked-color);
}

.text-danger{
    text-align:center;
    color:red;
    width:100%;
    display:inherit;
    margin-bottom:10px;
}
.text-success{
    color:forestgreen;
    font-style:italic;
}
.text-center{
    text-align:center;
    padding:20px 0 20px 0;
}
.text-remind{
    margin-top:10px;
}
.manage-body {
    margin-top: 100px;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control, .dataTable-input {
    width: 100%;
    padding: 0.875rem 1.125rem;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link {
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
.row-manage{
    display:block;
}

@media screen and (min-width:500px){
    .row-manage{
        display:flex;
    }
    .card-avt{
        width:40%;
        margin-right:30px;
    }
    .card-info{
        width:40%;
        margin-top:15px;
    }
}


@-webkit-keyframes animate {
    0% {
        background-position-y: 0;
    }
    100% {
        background-position-y: -480px;
    }
}
@keyframes animate {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -480px;
    }
}

@media screen and (min-width:780px){
    .onepage{
        width:50%;
    }
}
@media screen and (max-width:768px) {
    .onepage {
        width: 80%;
    }
}
button.learn-more {
    font-weight: 600;
    color: var(--input-color); /*màu chữ nút*/
    padding: 1.25em 2em;
    background: var(--primary-background-color); /*màu của phần trên nút*/
    border: 2px solid var(--light-color);
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.5;
}

button.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-background-color);/*màu phần dưới nút*/
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--light-color); /*border phần dưới nút*/
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: var(--gradient-color); /*2 background để giống màu nhau*/
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    background: var(--gradient-color); /*2 background để giống màu nhau*/
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #ffe9e9;
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    transform: translate3d(0, 0, -1em);
}
.btn-lm-middle{
    display:flex;
    justify-content:center;
}
.onepage *{
    margin-bottom:15px;
}