<%- include('../components/header.ejs') %>

</head>

<%- include('../components/nav.ejs') %>
    <div class="content-404 section-header-offset">
        <h1>404</h1>
        <h2>It seems like you've lost...</h2>
    </div>
    <img id="img404" src="/images/gif/404.gif" class="section-header-offset" alt="">
 <%- include('../components/footer.ejs') %>
     
</body>
</html>