<%- include('../components/header.ejs') %>

</head>

<%- include('../components/nav.ejs') %>
    <div class="content-500 section-header-offset">
        <h2>500 - Server Error</h2>
        <h3>Looks like server failed to load your request.</h3>
        <p><%= error %></p>
    </div>
    <img src="/images/gif/500.gif" class="img500 section-header-offset" alt="">
    
<%- include('../components/footer.ejs') %>
    
</body>
</html>