<%- include('../components/header.ejs') %>

</head>

<%- include('../components/nav.ejs') %>
    <div class="section-header-offset custom-header">
        About me, or creator team pages.
    </div>

    

<%- include('../components/footer.ejs') %>

</body>
</html>