<%- include('../components/header.ejs') %>

</head>

<%- include('../components/nav.ejs') %>
    <div class="section-header-offset">
        Contact me page.
    </div>
<%- include('../components/footer.ejs') %>
    
</body>
</html>