<%- include('../components/header.ejs') %>

    <link rel="stylesheet" href="/css/comment.css">

</head>
  <%- include('../components/nav.ejs') %>
  
  <section class="blog-post section-header-offset">
    <div class="blog-post-container container">
        <div class="blog-post-data">
            <h3 class="title blog-post-title">Is VR the future?</h3>
            <div class="article-data">
                <span>Dec 6th 2021</span>
                <span class="article-data-spacer"></span>
                <span>4 Min read</span>
				<div class="post-tag">
					Tag: <a class="list-link" href="">Technology</a> , 
					<a class="list-link" href="">Food</a>, 
					<a class="list-link" href="">Health</a>
				</div>
            </div>
            <img src="/images/featured/featured-1.jpg" alt="">
        </div>

        <div class="container">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eius possimus hic eligendi distinctio rerum incidunt, esse quasi eum molestiae ducimus ipsam quae, aliquid ullam placeat dolorum nulla vero. Quam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente repellat consequatur culpa, repudiandae aut dolores iusto. Rem natus soluta, dolores, ad deleniti, aut dolorem corrupti quasi amet unde delectus hic?
            </p>
            
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eius possimus hic eligendi distinctio rerum incidunt, esse quasi eum molestiae ducimus ipsam quae, aliquid ullam placeat dolorum nulla vero. Quam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod necessitatibus, aspernatur pariatur asperiores earum quas adipisci veritatis quidem facilis! Nihil veniam quaerat nulla possimus, asperiores vero voluptatum placeat. Eveniet!
            </p>

            <blockquote class="quote">
                <p><span><i class="ri-double-quotes-l"></i></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptates, laboriosam voluptatum quos non consequuntur nesciunt necessitatibus tempora quod inventore corporis rem nihil itaque, at provident minus aliquam veritatis. Labore?  <span><i class="ri-double-quotes-r"></i></span></p>
            </blockquote>
            <img src="https://img.freepik.com/premium-photo/image-colorful-galaxy-sky-generative-ai_791316-9864.jpg?w=2000" alt="">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis eius possimus hic eligendi distinctio rerum incidunt, esse quasi eum molestiae ducimus ipsam quae, aliquid ullam placeat dolorum nulla vero. Quam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod necessitatibus, aspernatur pariatur asperiores earum quas adipisci veritatis quidem facilis! Nihil veniam quaerat nulla possimus, asperiores vero voluptatum placeat. Eveniet!
            </p>

            <div class="author d-grid">
                <div class="author-image-box">
                    <img src="/images/author.jpg" alt="" class="article-image">
                </div>
                <div class="author-about">
                    <h3 class="author-name">John Doe</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque quis repellat rerum, possimus cumque dolor repellendus eligendi atque explicabo exercitationem id.</p>
                    <ul class="list social-media">
                        <li class="list-item">
                            <a href="#" class="list-link"><i class="ri-instagram-line"></i></a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-link"><i class="ri-facebook-circle-line"></i></a>
                        </li>
                        <li class="list-item">
                            <a href="#" class="list-link"><i class="ri-twitter-line"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/comment.ejs') %>

<%- include('../components/footer.ejs') %>

</body>
</html>
